<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<CodeCoverage>
		<ModulePaths>
			<Include>
				<ModulePath>.*cmdscale\.entityframeworkcore\.timescaledb\.dll$</ModulePath>
				<ModulePath>.*cmdscale\.entityframeworkcore\.timescaledb\.design\.dll$</ModulePath>
			</Include>
			<Exclude>
				<ModulePath>.*tests\.dll$</ModulePath>
			</Exclude>
		</ModulePaths>
		<Sources>
			<Exclude>
				<Source>.*[/\\]migrations[/\\].*</Source>
				<Source>.*whereclauseepressionvisitor\.cs$</Source>
				<Source>.*timescaledbdesigntimeservices\.cs$</Source>
				<Source>.*timescaledbservicecollectionextensions\.cs$</Source>
				<Source>.*timescaledbfunctionsextensions\.cs$</Source>
				<Source>.*timescaledbfunctionsextensions\.timebucket\.cs$</Source>
			</Exclude>
		</Sources>
		<Attributes>
			<Exclude>
				<Attribute>^System\.ObsoleteAttribute$</Attribute>
				<Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
				<Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
				<Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
			</Exclude>
		</Attributes>
		<EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
		<EnableStaticNativeInstrumentation>False</EnableStaticNativeInstrumentation>
	</CodeCoverage>
</Configuration>
